@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body *{
    box-sizing: border-box;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(90deg, #B20000, #330000);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#left-login-image img{
    width: 35vw;
    position: relative;

}


.left-login > h1{
    color: rgb(255, 255, 255);
    font-size: 3vw;
    font-weight: 800;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: orangered;
    border-radius: 30px;
    box-shadow: 0px 10px 40px rgb(255, 88, 27);
}

.card-login > h1{
    color:white;
    font-weight: 800;
    margin: 0;
    font-size: 45px;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
    
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color:coral;
    color: white;
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgb(255, 88, 27);
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
}

.textfield > input::placeholder{
    color: whitesmoke;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 40px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3.5px;
    color:rgb(255, 255, 255);
    background-image: linear-gradient(90deg, #B20000, #330000);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px rgb(88, 13, 13);
    transition: .3s;
}


.entrar-com{
    width: 100%;
    padding: 16px 0px;
    border: none;
    border-radius: 40px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3.5px;
    color:rgb(255, 255, 255);
    background-image: linear-gradient(90deg, #B20000, #330000);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px rgb(88, 13, 13);
    overflow: hidden;
    position: relative;
    transition: .3s;
    text-align: center;
}

.e-btn{
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    transform: translateY(100%);
}

.e-btn a{
    color: white;
    transition: .3s;
    font-size: 3vh;
}

.entrar-com:hover,
.btn-login:hover{
    border-radius: 0;
}

.entrar-txt{
    display: inline-block;
    transition: .3s;
}

.entrar-com:hover .entrar-txt,
.entrar-com:hover .e-btn a{
    transform: translateY(-40px);
}

.e-btn a:nth-child(2){
    transition-delay: 60ms;
}

.e-btn a:nth-child(3){
    transition-delay: 120ms;
}

.e-btn a:hover{
    opacity: .7;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 50vw;
    }

    .card-login{
        width: 90%;
    }
}