
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d20000;
    
}

header .logo{
    position: relative;
    font-size: 2.0vw;
    text-decoration: none;
    color: #fff;
    
}

header .logo:hover{
    color: #333;
    transition: 0.3s;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a{
    display: inline-block;
    color: #fff;
    font-weight: 600;
    margin-left: 40px;
    text-decoration: none;
    font-size: 2.8vh;
}

header ul li a:hover{
    color: #333;
    transition: 0.3s;
}
 
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
}

.content .text{
    position: relative;
    max-width: 700px; 
    bottom: 40px;
}

.content .text h2
{
    color: #d30000;
    font-size: 3.7vw;
    line-height: 1.1em;
    letter-spacing: 1px;
    font-weight: 600;
    
}

.content .text p{
    color: #333;
    font-size: 1.7vw;
    margin-top: 30px;
}

.content .text a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #d30000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 1.1vw;
}

.content .text a:hover{
    background: rgb(156, 40, 40);
}

.content .image{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 20px;
    margin-left: 10px;

}

.content .image img{
    max-width: 43vw;
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d20000;
    clip-path: circle(610px at right 850px);
}

.circle2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    clip-path: circle(620px at right 900px);
}

/* footer */
footer.footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 25px;
    color: #FFF;
    background: #d30000;
    box-shadow: var(--shadow);
}
/* footer */
