@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto sans', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg, #B20000, #330000);
}

body * {
    box-sizing: border-box;
}

h1 {
    margin: 0;
    color: white;
    font-weight: 800;
    font-size: 45px;
    text-align: center;
}

.fieldset {
    width: 60vw;
    height: 60vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: orangered;
    border-radius: 30px;
    box-shadow: 0 10px 40px rgb(255 88 27);
}

.elementos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
}

.elementos > label {
    color: white;
    font-size: 20px;
}

.elementos > input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    margin: 10px 0;
    padding: 15px;
    font-size: 12pt;
    background-color: coral;
    color: white;
    box-shadow: 0 10px 40px rgb(255 88 27);
    outline: none;
}

.elementos > input::placeholder {
    color: whitesmoke;
}

button {
    width: 100%;
    border: none;
    border-radius: 40px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    padding: 16px 0;
    letter-spacing: 3.5px;
    color:rgb(255, 255, 255);
    background-image: linear-gradient(90deg, #B20000, #330000);
    box-shadow: 0px 10px 40px -12px rgb(88, 13, 13);
    cursor: pointer;
    transition: .3s;
}

button:hover {
    border-radius: 0;
}

@media only screen and (max-width: 848px) {
    .fieldset {
        width: 65vw;
        height: 65vh;
    }
}

@media only screen and (max-width: 500px) {
    .fieldset {
        width: 70vw;
        height: 70vh;
    }
}