@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto sans', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg, #B20000, #330000);
}

body * {
    box-sizing: border-box;
}

h1 {
    color: white;
    font-weight: 800;
    font-size: 45px;
    text-align: center;
}

p {
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
}

.fieldset {
    width: 60vw;
    height: 60vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    border-radius: 30px;
    box-shadow: 0 10px 40px rgb(255 88 27);
}